.car_item{
    border: 1px solid #7c8a9736;
    padding: 20px;
    border-radius: 5px;
}

.car_item-info span i{
    color: #f9a826;
    font-size: 1.1rem;
}

.car_item-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.car_item-btn a:hover{
    color: #fff;
}

.car_item-btn{
    border-radius: 0;
    border: none;
    outline: none;
    background: #1E3E70;
    padding: 4px 0px;
}

.car_btn-details{
    background: #f9a826;
    border-radius: 0px 4px 4px 0px;
}

.car_btn-rent{
    border-radius: 4px 0px 0px 4px;
}

.detailsCar{
    background: #f0f0f0;
}
/* Estilo general para el contenedor de íconos */
.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    gap: 1rem; /* Espacio entre los íconos */
    margin-top: 1rem;
}

/* Estilo para cada ítem de ícono */
.icon-item {
    display: flex;
    align-items: center; /* Alinea verticalmente los iconos y el texto */
    gap: 0.5rem; /* Espacio entre el icono y el texto */
}

/* Estilo para los íconos */
.icon-item svg {
    font-size: 1.5rem; /* Tamaño de los íconos */
    color: #1E3E70; /* Color de los íconos */
}

